<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mw.dmp.dao.SysUserDao" >
    <select id="getUserInfo" parameterType="Map" resultType="Map">
      SELECT
      user_id,username,email,mobile,create_time,company
      FROM sys_user WHERE username = #{params.username} AND `password` = #{params.password} AND deletestatus = 0
    </select>

    <select id="getCurrentUserInfoForId" parameterType="String" resultType="Map">
        SELECT
        user_id,username,email,mobile,create_time,company
        FROM sys_user WHERE user_id = #{userId} AND deletestatus = 0
    </select>
</mapper>